
body{
    margin:0;
    background-color:rgba(214, 66, 7, 0);
    background-image: url("mountains.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}


.wrapped{
    display:flex;
    justify-content: center;
    
    
}
.professionsContainer{
    text-align: center;
    width: 20%;
    height: 60%;
    background-color: rgba(0, 255, 255, 0.116);
    border-radius:10%;
    margin-left:3%;
    align-items: center;
    box-shadow: -1em 1em 3em rgba(0, 0, 0, 0.285);
}

.profilepic{
    position:relative;
    border-radius: 50%;
    height:20%;
    top:5%;
}

.pinfo{
    position: relative;
    font-family: "AudioWide";
    font-size:1.5em;
    top:5%;
    letter-spacing: 0.1em;
    color:rgb(224, 219, 219);
}
.emailbtn{
    position: relative;
    font-family: "AudioWide";
    top:6%;
    font-size:1.5em;
    border-radius:20%;
    background-color:coral;
    border-color: rgba(255, 255, 255, 0);
}
.emailbtn:hover{
    background-color: rgb(226, 86, 35);
}

h1{
    font-family:"AudioWide";
    text-align:center;
    color:rgb(255, 255, 255)
}
.content{
    margin-top:5%;
    width:60%;
    height: 80vh;
    border-radius:2%;
    box-shadow:-2em 2em 2em rgba(0, 0, 0, 0.368);
    background: linear-gradient(to right top,rgba(146, 164, 146, 0.456),rgba(255, 0, 0, 0.456),rgba(0, 0, 255, 0.456))
}
.mainwindows{
    position: relative;
    width: 70%;
    height: 80%;
    padding:0;
    left:25%;
    bottom:62%;
    background-color: black;
    border-radius:1%;
    line-height:2em;
    color:rgb(250, 250, 250);
    
    
}
.console{
    position: absolute;
    top:90%;
    color:white;
    
    font-family: "Consolas";
    font-size:1.5em;
}
.getInput{
    background-color:rgb(4, 4, 4);
    border:none;
    color:white;
    font-size:1em;
}
.hidebtn{
    position:sticky;
    left:75vw;
    top:0;
    margin:0;
    border-radius:30%;
    border-color:none;
    font-family: "Consolas";
    background-color:rgba(212, 7, 7, 0.733);
}

.hidebtn:hover{
    background-color: rgb(66, 5, 5);;
}
@keyframes typing{
    from{width:0}
    to{width:100%}
    
}

#mysecretBtn{
    position:relative;
    
    font-size: 1em;
}

.typewriter{

font-size: 1.5em;

color: green;
font-family: "Consolas";

}

.infowrite{
    position:relative;
    overflow:hidden;
    white-space:nowrap;
    font-size: 1.5em;
    width:0;
    color:white;
    font-family: "Consolas";
    animation: typing 8s forwards;
}
@media screen and (max-width: 1700px) {
    .content {
      width:90vw;
      height:90vh;
      font-size:2em;
      word-wrap:break-word;
 
    }
    .getInput{
        width:40%;
    }
 
    .mysecretBtn{
        width:5%;
        font-size:0.5em;
        border-radius:50%;
        border-color:black;
        text-indent:-999999999px;
    }
    body{
        background-size: cover;
        background-repeat: repeat;
        font-size:50%;
    }
    .infowrite{
       font-size:1em;
       

    }
    .hidebtn{
        left:88vw;
    }
    .mainwindows{
        word-wrap:break-word;
    }
 
 
}
@media screen and (max-width: 600px) {
    .content {
      width:90vw;
      height:90vh;
      font-size:1em;
      word-wrap:break-word;
 
    }
    .getInput{
        width:40%;
    }
 
    .mysecretBtn{
        width:5%;
        font-size:0.5em;
        border-radius:50%;
        border-color:black;
        text-indent:-999999999px;
    }
    body{
        background-size: cover;
        background-repeat: repeat;
        font-size:50%;
    }
    .infowrite{
       font-size:1em;
       

    }
    .hidebtn{
        left:88vw;
    }
    .mainwindows{
        word-wrap:break-word;
    }
 
 
}

@media screen and (max-width: 400px) {
.profilepic{
    width: 50%;
}
}